.main {
  height: 100vh;
  background-color: #cecece;
  padding: 15px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
}