.main {
  min-height: 100vh;
  background-color: #cecece;
  padding: 15px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  margin-bottom: 25px;
}


.enunciado {
  text-align: justify;
  margin-bottom: 15px;
  max-width: 740px;
}